
body {
  background-color: #f4f4f4;
  color: #100303;
  position: relative;
}

h1 {
  font-size: 62px;
  font-family: 'Cardo', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
}

p, li {
  font-family: 'Cardo', sans-serif;
  line-height: 1.6;
  letter-spacing: .6px;
  font-size: 23px;
  max-width: 800px;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  color: #ae7c23;
  /* font-weight: 700; */
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 100%;
  background:#ae7c23;
  transition: all .2s;
  opacity: 0;
}

a:hover:after {
  opacity: 1;
  bottom: -2px;
}

.revealer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #b4ccc9;
  z-index: 5;
  animation: slideFadeIn 1s ease .5s forwards;
}

@keyframes slideFadeIn {
  60% {
    width: 30%;
    z-index: 1;
  }
  100%{
    width: 0;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.container {
  min-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  animation: fadeIn .5s ease 1.2s forwards;
}

.color-block {
  background: #b4ccc9;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  height: 140px;
}

.color-block img {
  width: 200px;
}

.text-block {
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  margin-top: 120px;
}

@media (min-width: 940px) {
  .container {
    display: flex;
  }
  .color-block {
    width: 30%;
    height: auto;
    padding-top: 18vh;
    text-align: right;
  }
  .text-block {
    padding-top: 17vh;
    margin-top: 0;
  }
}

@media (min-width: 1080px) {
  .color-block img {
    width: 230px;
  }
}