extends _layout.pug

include /sections/about.pug
include /sections/work.pug
include /sections/contact.pug

block main
	+about({
		header: `Hello, I'm Susan`,
		tagline: `I am a <span>Designer + Front-End Developer</span> in Toronto.`,
		text1: `Born in Taipei and raised all over the world, I am a lover of culture, design and all things internet.`,
		text2: `I have a background in marketing, graphic design, UX and web development. I'm passionate about creating beautiful and intuitive digital experiences for the web.`
	})
	+work({
		sectionText: `Currently, I work with the talented folks at Pilot Interactive, and here are a few things we've worked on lately...`,
		works: [
			{
				title: `About Rogers`,
				text: `The official get-to-know website for the Canadian telecomunication company`,
				link: ``
			},
			{
				title: `Rogers Media`,
				text: `The official website for Rogers Media, a subsidiary of Rogers Communications.`,
				link: ``
			},
			{
				title: `Urban Strategies`,
				text: `The website for the globally reknowned urban planning consultancy`,
				link: ``
			}
		],
		sectionText2: `some other little personal projects I worked on...`,
		otherWorks: [
			{
				title: `Splash Palette`,
				text: `A tool that helps you generate colour palettes inspired by Unsplash photos.`,
				link: ``
			},
			{
				title: `Voyage Wordpress Theme`,
				text: `A custom responsive WordPress theme tailored for travel bloggers.`,
				link: ``
			} 
		],
		sectionText3: `Also check out my Codepen for more fun little coding experiments`
	})

block footer
	+contact({
		contactText: `For important business matter, write me <br> susan[at]hellosusan.io`,
		Twitter: `Say hi to me on Twitter <br> @HelloSusan_Code`,
		TwitterLink: ``,
		LinkedIn: `Connect with me on LinkedIn <br> (do leave a message though!`,
		LinkedInLink: ``,
		Instagram: `My very artistic <br> Instagram account`,
		InstagramLink: ``
	})
	
