@font-face {
	font-family: 'Vollkorn';
	src: url('/assets/fonts/Vollkorn-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('/assets/fonts/Vollkorn-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Vollkorn';
	src: url('/assets/fonts/Vollkorn-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}